<div class="container">
  <h2 class="my-4">Add a new Request</h2>
  <div>
    <img class="superhero-request-img" src="../{{superhero.pictureUrl}}" alt="">
    <br>
    {{{superhero.username}}}
  </div>
  <br>
  <br>

  <form action="/new-helpcall" method="POST" id="form-container">
    <input type="hidden" name="superhero" value="{{superhero._id}}">
    <label for="subject">Subject</label>
    <input class="form-control" type="text" placeholder="What is your request?" name="subject" id=""> <br>

    <label for="details">Comments</label>
    <textarea class="form-control" placeholder="Give more details" name="details" id="" cols="30" rows="5"></textarea>
    {{!-- <input class="form-control" type="text" placeholder="Details" name="details" id="" >  --}}
    <br>

    {{!-- <label for="address">Address</label>
  <input class="form-control" type="text" placeholder="Address" name="address" id="" > <br> --}}

    <button type="submit" class="btn btn-outline-info">Submit Request</button>
  </form>
  <br>
  <br>

  <h5 class="container d-flex flex-column align-items-center">Open incoming Requests:</h5>
  <div class="card-deck row">
    {{#each helpcalls}}
    <div class="card bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header bg-info">{{this.subject}}</div>
      <div class="card-body">
        <p class="card-text">{{this.details}}</p>
        <p class="card-text">Status: {{this.status}}</p>
        <p class="card-text"><small class="text-muted">
            requested by {{#if _owner}}{{_owner.username}}{{else}}Anonymous{{/if}} on {{this.created_at}}</small></p>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<br>